*{
	margin: 0;
	padding: 0;
}

.slider{
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
}
.img{
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	opacity: 0.4
}
.curry{
	display: block;
}
.nk{
	width: 100%;
	opacity: 1
}
.aa{
	text-decoration: none;
	font-size: 30px;
	color:#000;
}
.prev{
	position: absolute;
	top: 45%;
	left: 0;
	z-index: 9
}
.next{
	position: absolute;
	top: 45%;
	right: 0;
	z-index: 9
}