*{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	/*display: block;*/
	
}
.cycle-slideshow{
	margin-top:25px;	
}
.cycle-prev, .cycle-next{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 44%;
	color: #000;
	opacity: 0.7;
	font-size: 200%;
	text-align: center;
}
.cycle-prev{
	left: 5%;
}
.cycle-next{
	right: 5%
}
.cycle-pager{
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 9999;
	cursor: pointer;

}
.cycle-pager a {
	display: inline-block;
	margin: 0 5px;
	opacity: 0.5;
	border: 2px solid rgba(255,255,255, 0.30)
}
.cycle-pager .cycle-pager-active{
	opacity: 1;
	border: 2px solid rgba(255,255,255,0.70)
}
.cycle-pager .thumb{
	width: 10%;

}
.thumb{
	display: block;
}
/*@media screen and (max-width: 768px) {
	.cycle-slideshow{
		margin-top: 50%;
	transform: translateY(-50%);
	}
}*/